

// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// #root {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
//   overflow: hidden;
// }

// * {
//   margin: 0px;
// }

// // Page 404 not found
// .notfound-page {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   flex-grow: 1; // Permet de prendre tout l'espace disponible
//   text-align: center;
  
//   h1 {
//     font-size: 180px;
//     font-weight: bold;
//     color: #ff6060;
//     margin-bottom: 20px; // Espacement avec le texte en dessous
//   }

//   p {
//     font-size: 24px;
//     color: #ff6060;
//     font-weight: 500;
//     margin-bottom: 50px; // Espacement avec le lien en dessous
//   }

//   a {
//     color: inherit;
//     font-size: 18px;
//     text-decoration: underline;
//   }
// }

// // Footer
// footer {
//   margin-top: auto; // Le footer est poussé en bas de la page
//   padding: 20px;
//   background-color: black;
//   color:white;
//   text-align: center;
// }

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  overflow: hidden;
}

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box; 
}

// Page 404 not found
.notfound-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; // Prend tout l'espace restant
  text-align: center;
  
  h1 {
    font-size: 180px;
    font-weight: bold;
    color: #ff6060;
    margin-bottom: 30px;
  }

  p {
    font-size: 24px;
    color: #ff6060;
    font-weight: 500;
    margin-bottom: 60px;
  }

  a {
    color: inherit;
    font-size: 16px;
    text-decoration: underline;
  }
}

// Footer
footer {
  margin-top: auto; 
  padding-bottom: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 100%; 
}
