.background-home {
  background-color: #f6f6f6;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  margin: 50px 100px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-gap: 70px;
  row-gap: 55px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

//media queries
@media (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
