.background-home {
  background-color: #f6f6f6;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  margin: 50px 100px;

}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-gap: 70px;
  row-gap: 55px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
//*******************************************
.load-more-container {
 
  height: 30px;
  width: 10%;
   position: absolute;
  left: 46.5%;
}

.load-more {
  

  background-color: white;
  color: #ff6060;
  border: 4px solid white;
  padding: 4px 12px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: box-shadow 0.3s ease; 
  opacity: 1;
  position: relative;
  top: -250%;
}

.load-more:hover {
  opacity: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Effet de box-shadow au hover */
  
}
//media queries
@media (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
