.host {
  display: flex;
  align-items: center;
  width: 167px;

  .host-name {
    font-size: 18px;
    font-weight: medium;
    margin-right: 10px;
    color: #ff6060;
    text-align: right;
  }

  .host-picture {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
  }

  // media queries 
  @media (max-width: 768px) {
    max-width: 130px;

    .host-name {
      text-align: right;
      font-size: 14px;
    }

    .host-picture {
      width: 48px;
      height: 48px;
    }
  }

  @media  (max-width: 389px) {
    align-items: center;
    max-width: 110px;
    position: relative;
    bottom: -97px;

    .host-name {
      text-align: right;
      font-size: 12px;
      margin-right: 5px;
    }

    .host-picture {
      width: 32px;
      height: 32px;
      margin-right: 2px;
    }
  }
}
