.banner {
  position: relative;
  overflow: hidden;
  margin: 45px 100px 50px 100px;
  height: 223px;
  border-radius: 25px;

  // effet darken
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1;
  }

  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
  }

  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.8);
    z-index: 2;
     white-space: nowrap;
  }
}


// Media Queries 

// pour les écrans entre 768px et 1024px
@media (max-width: 1024px) {
  .banner {
    margin: 30px 50px;
    height: 180px;
  }

  .banner-text {
    font-size: 20px;
  }
}

// Pour les écrans entre 480px et 768px
@media (max-width: 768px) {
  .banner {
    margin: 20px 20px;
    height: 150px;
  }

  .banner-text {
    font-size: 15px !important;
  }
}

// Pour les écrans de 480px et moins (petits mobiles)
@media (max-width: 480px) {
  .banner {
    margin: 20px 20px;
    height: 111px;
    border-radius: 10px;
  }

  .banner-text h1{
    font-size: 24px !important;
    white-space:normal; // Permet de casser les lignes si nécessaire sur mobile
    width: 235px;
    text-align: left;
    position: relative;
    right: 35px;
  }
}
