.collapse {
  margin: 20px 13% 30px 13%;

  .collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    color: white;
    font-size: 18px;
    background-color: #ff6060;
    border-radius: 5px;

    img {
      width: 20px;
      transition: transform 0.3s ease-in-out;
    }
  }

  .collapse-content {
    padding: 15px;
    background-color: white;
    color: black;
    font-size: 16px;
    display: block;
    border: 1px solid transparent;
  }

  .arrow {
    transition: transform 0.3s ease-in-out;

    &.rotate {
      transform: rotate(-180deg);
    }
  }
}

// media queries

@media (max-width: 1024px) {
  .collapse {
    margin: 20px 10%;

    .collapse-header {
      font-size: 16px;
      padding: 12px;
    }

    .collapse-content {
      font-size: 14px;
      padding: 12px;
    }
  }
}

@media (max-width: 768px) {
  .collapse {
    margin: 20px 8%;

    .collapse-header {
      font-size: 15px;
      padding: 10px;
    }

    .collapse-content {
      font-size: 13px;
      padding: 10px;
    }
  }
}

@media (max-width: 480px) {
  .collapse {
    margin: 20px 5%;

    .collapse-header {
      font-size: 13px;
      padding: 8px;
    }

    .collapse-content {
      font-size: 14px;
      padding: 12px;
    }

    img {
      width: 16px;
      height: 9px;
    }
  }
}
