.footer {
  background-color: #000;
  color: white;
  text-align: center;
  font-size: 24px;
  height: 192px;
}

.footer-logo img {
  width: 122px;
  height: 39.44px;

  margin: 0px 0px 28.56px 0px;
}

.footer p {
  margin-top: 25px;
}
